.day {
    width: 15%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    border-right: 2px solid #333;
    gap: 1vh;
}