@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.new-event {
    background-color: white;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    width: 25vw; 
    border-radius: 5px;
}

.new-event label {
    margin-top: 3vh;
}

.new-event h1 {
    font-family: 'Amatic SC', cursive;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
}

button {
  background-color: darkcyan;
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  vertical-align: middle;
  margin-left: 8px;
}

button:hover {
  background-color: rgba(0, 139, 139, 0.8);
  transition-duration: 0.1s;
}
